.wh-size8 {font-size:0.5em !important;}
.wh-size9 {font-size:0.55em !important;}
.wh-size10 {font-size:0.625em !important;}
.wh-size11 {font-size:0.7em !important;}
.wh-size12 {font-size:0.75em !important;}
.wh-size13 {font-size:0.8em !important;}
.wh-size14 {font-size:0.875em !important;}
.wh-size15 {font-size:0.95em !important;}
.wh-size16 {font-size:1em !important;}
.wh-size17 {font-size:1.05em !important;}
.wh-size18 {font-size:1.125em !important;}
.wh-size19 {font-size:1.2em !important;}
.wh-size20 {font-size:1.25em !important;}
.wh-size21 {font-size:1.3em !important;}
.wh-size22 {font-size:1.4em !important;}
.wh-size23 {font-size:1.45em !important;}
.wh-size24 {font-size:1.5em !important;}
